.catalog {
    background-color: #1d1d1d;
    height: 1018px;
    margin-top: -53px;
    &__text {
        display: flex;
        padding-left: 381px;
        margin-top: -110px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 140%;
        width: 498px;
        color: $main-color;

@media ( max-width: 1066px) {
    width: 442px;
}
    }
    .container {
@media (max-width: 1066px) {
    width: 650px;
        }
    }
    &__compare {
        display: flex;
        margin: 0 auto;
        margin-top: 48px;
        width: 1060px;

@media (max-width: 1066px) {
    width: 853px;
}

    }
    &__one {
        margin-right: 35px;
        width: 324px;
        height: 454px;
        color: $main-color;

@media (max-width: 1066px) {
    width: 261px;
    height: 454px;
}
    }
    &__sporty {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        color: $main-color;
    }
    &__coment {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        margin-top: -12px;
    }
    &__cost {
        font-family: 'Poppins';
        margin-top: 8px;
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
    }
    &__img {
@media ( max-width: 1066px) {
    width: 261px;
}
    }
}