.details {
    min-height: 1660px;
    margin-top: -164px;
    background-color: #1d1d1d;
    &__info {
        margin: 0 auto;
        width: 1180px;
        margin-top: 48px;
    }
    &__image {
        margin-right: 24px;
        width: 828px;
        height: 320px;
    }
    &__sporty {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        margin-top: 10px;
        margin-bottom: 0px;
        color: $main-color;
    }
    &__text {
        width: 672px;
        height: 44px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        margin-top: 15px;
        color: $main_color;
    }
}