@media  ( max-width:  1260px)
    .promo
        &__header
            font-size: 80px
            width: 638px
        .container
            max-width: 995px

@media  ( max-width:  744px)
    .promo
        &__logo
            width: 156px;
            height: 48px;
            left: 87px;
            top: 44px;
        &__header 
            width: 506px
            height: 93px
            font-size: 64px
        .container
            max-width: 590px
            
@media  ( max-width: 320px)
    .promo
        min-height: 480px
        &__logo
            width: 86px;
            height: 36px;
            left: 17px;
            top: 16px;
        &__phone
            margin-top: -2px
            margin-right: 12px;
            height: 24px;
            width: 24px;
        &__vector
            margin-top: 2px;
            margin-right: 23px;
            width: 18px;
            height: 12px;
        &__header
            top: 416px
            width: 267px;
            height: 36px;
            font-size: 36px;