@media  ( max-width:  1260px)
    .promo
        &__header
            font-size: 80px
            width: 638px
        .container
            max-width: 995px
        
    .catalog
        &__container
            margin: 0 auto 
            width: 680px
            padding: 0px

    .details
        &__info
            width: 1009px
        &__image
            width: 657px

@media  ( max-width:  1010px)
    .details
        &__info
            width: 778px
        &__image
            width: 525px
            height: 255px
        &__twoimage
            width: 225px
            height: 255px
        &__twoimage-bike
            width: 225px
            height: 255px

@media  ( max-width:  744px)
    .promo
        &__logo
            width: 156px
            height: 48px
            left: 87px
            top: 44px
        &__header 
            width: 506px
            height: 93px
            font-size: 64px
        .container
            max-width: 590px
    
    .catalog 
        height: 2018px
        &__container
            margin: 0 auto 
            width: 120px
            padding: 0px
        &__text 
            width: 268px
            font-size: 15px
            padding-left: 110px
        &__compare 
            flex-direction: column
            width: 250px
        &__one
            padding-left: 0px

    .details 
        min-height: 1320px
        &__info
            width: 604px
        &__image
            width: 392px
            height: 187px
        &__twoimage 
            width: 184px
            height: 187px
        &__twoimage-bike
            width: 184px
            height: 187px
        &__text
            width: 604px
        &__btn
            margin-top: 0px
            width: 394px
            height: 56px
        &__button
            margin: 79px auto 0 auto
            width: 394px
            height: 56px
    
@media ( max-width: 636px) 
    .catalog
        &__text
            padding-left: 50px
    .details   
        &__info 
            width: 450px
        &__image 
            width: 307px
            height: 171px
            margin-right: 14px  
        &__twoimage 
            width: 125px
            height: 171px
        &__twoimage-bike
            width: 125px
            height: 171px
            margin-right: 14px
        &__text
            width: 450px

@media ( max-width: 490px)
    .promo
        &__header
            width: 324px
            height: 93px
            font-size: 42px

    .catalog__container
        margin: 0 auto
        width: 325px
        margin-top: 100px
        padding-left: 0px  

@media  ( max-width:  320px)
    .promo
        min-height: 480px
        &__logo
            width: 86px
            height: 36px
            left: 17px
            top: 16px
        &__phone
            margin-top: -2px
            margin-right: 12px
            height: 24px
            width: 24px
        &__header
            top: 416px
            width: 267px
            height: 36px
            font-size: 35px

    .burger 
        margin-right: 16px
        &__line
            margin-top: 7px

    .catalog 
        height: 1632px
        &__container 
            margin: 0 auto
            width: 270px
            padding: 0
        &__text 
            width: 280px
            margin-top: -20px
            padding-left: 0px
        &__compare 
            width: 225px
            font-size: 36px
            margin-top: 92px
        &__one
            margin-right: 0px
            height: 423px
            margin-top: -64px
            padding: 0px
        
    .details 
        min-height: 1320px
        &__info
            width: 278px
        &__image
            width: 130px
            height: 130px
            margin-right: 14px
        &__twoimage 
            width: 130px
            height: 130px
        &__twoimage-bike
            width: 130px
            height: 130px
        &__text
            width: 281px    
            height: 95px
        &__sporty
            width: 278px
            font-size: 20px
        &__btn
            margin-top: 0
            width: 253px
            height: 56px
        &__button
            margin: 120px auto 0 auto
            width: 252px
            height: 46px