.promo {
  min-height: 785px;
  padding: 21px 0 93px 0;
  background: url("../img/bike_bg.png") center (center/cover) no-repeat;
  .container {
    max-width: 1400px;
    display: flex;
    justify-content: right;
  }
  &__logo {
    position: absolute;
    width: 187px;
    height: 56px;
    left: 120px;
    top: 36px;
  }
  &__phone {
    margin-top: 15px;
    margin-right: 32px;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  &__header {
    margin-left: 68px;
    margin-right: 68px;
    position: relative;
    width: 803px;
    height: 100px;
    top: 480px;
    font-family: "Poppins";
    font-weight: 900;
    font-size: 100px;
    margin: auto;
    display: flex;
    letter-spacing: -1.5px;
    color: $main-color;
  }
}
