.catalog__title {
    display: flex;
    padding: 120px 0px 0px 120px;
    top: 10px;
    width: 411px;
    height: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    color: $main-color;


@media (max-width: 1066px) {
        width: 400px;
        font-size: 55px;
    }

@media (max-width: 1066px) {
    padding: 115px 0 0 26px;
}

@media ( max-width:  520px) {
        padding: 120px 0 0 51px;
}

@media (max-width: 505px) { 
    padding: 120px 0 0 52px;
}

@media (max-width: 460px) { 
    padding: 120px 0 0 62px;
    width: 281px;
}

@media (max-width: 395px) { 
    padding: 120px 0 0 29px;
    width: 220px;
    font-size: 43px;
}

@media (max-width: 320px) {
    width: 184px;
    font-size: 34px;
    padding: 26px 0 0 22px;
}
}
.catalog__title-bike {
    display: flex;
    margin: 0 auto;
    margin-top: 164px;
    width: 491px;
    height: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    color: $main-color;

@media (max-width: 744px) { 
    width: 399px;
    font-size: 52px;
}

@media (max-width: 460px) { 
    width: 300px;
    font-size: 39px;
}

@media (max-width: 395px) { 
    margin-top: 90px;
}

@media (max-width: 320px) {
    width: 270px;
    font-size: 35px;
    margin-top: 100px;
}
}

.details__title-bike {
    display: flex;
    margin: 0 auto;
    margin-top: 164px;
    width: 354px;
    height: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    color: $main-color;

@media (max-width: 744px) { 
    width: 288px;
    font-size: 52px;
}

@media (max-width: 460px) { 
    width: 266px;
    font-size: 48px;
}

@media (max-width: 320px) {
    width: 194px;
    font-size: 35px;
}
}

.contacts__title {
        display: flex;
        margin: 0 auto;
        padding-top: 55px;
        width: 354px;
        height: 64px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 64px;
        color: $main-color;

@media (max-width: 744px) { 
    width: 288px;
    font-size: 52px;
}

@media (max-width: 460px) { 
    width: 285px;
    font-size: 51px;
}

@media (max-width: 320px) {
    width: 199px;
    font-size: 36px;
}
}