.catalog__title {
    display: flex;
    padding: 120px 0px 0px 120px;
    top: 10px;
    width: 411px;
    height: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    color: $main-color;
}