.catalog__title {
    display: flex;
    padding: 120px 0px 0px 120px;
    top: 10px;
    width: 411px;
    height: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    color: $main-color;


@media (max-width: 1066px) {
        width: 400px;
        font-size: 55px;
    }

@media (max-width: 744px) { 
    width: 265px;
    font-size: 36px;
    padding: 120px 0 0 80px;
    }

@media (max-width: 320px) {
    width: 184px;
    font-size: 34px;
    padding: 26px 0 0 22px;
}
}
.catalog__title-bike {
    display: flex;
    margin: 0 auto;
    margin-top: 164px;
    width: 491px;
    height: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    color: $main-color;

@media (max-width: 744px) { 
    width: 397px;
}

@media (max-width: 320px) {
    width: 270px;
    font-size: 35px;
}
}